/*--------------
  Index for Non-Critical CSS

  1. Variables
    1.1 colors
    1.2 fonts
    1.3 effects
  2. Global Styles
    2.1 Typography
    2.2 Buttons
    2.3 Forms
  3. Navigation
  4. Footer
  5. Home Page
  6. Newsletters Page
  7. Newsletter Page & Resource Page
  8. Resources Page
  9. Form Success Page 
  10. Error Page
  11. Philosopy & About Us Page


--------------*/

/*--------------
    Variables 
  --------------*/
:root {
  /* colors */
  --clr-primary: #fbd500;
  --clr-secondary: #1d6e2f;
  --clr-tertiary: #fff0ca;
  --clr-accent: #d34a5a;
  --clr-text-dark: #474747;
  --clr-text-light: #fffced;

  /* fonts */
  --ff-title: ;
  --ff-sans: 'Be Vietnam Pro', Tahoma, Arial, sans-serif;

  /* effects */
  --bx-shadow-hover: 0px 6px 6px 0px rgba(0, 0, 0, 0.3);
  --bx-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --drop-shadow-logo: drop-shadow(10px 10px 10px rgba(71, 71, 71, 0.25));
  --drop-shadow: drop-shadow(10px 10px 10px rgba(71, 71, 71, 0.2));
  --border-rd-btm: 0 0 0.8em 0.8em;
  --border-rd-top: 0.8em 0.8em 0 0;
  --border-rd-all: 0.8em;
  --transform-hover: translateY(max(-10%, -0.65rem));
  --transition-hover: 350ms ease;
  --transform-hover-off: translateY(0%);
  --transition-hover-off: 200ms ease;
}

/*--------------
  Global Styles 
  --------------*/

.page {
  margin: 8rem auto 5rem;
  min-height: 50vh;
}

.sr-only {
  position: absolute;
  margin: -1px 0 0 -1px;
  padding: 0;
  display: block;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  outline: 0;
}

.hover-animation {
  box-shadow: var(--bx-shadow);
  transform: var(--transform-hover-off);
  transition: var(--transition-hover-off);
}

.hover-animation:hover {
  box-shadow: var(--bx-shadow-hover);
  transform: var(--transform-hover);
  transition: var(--transition-hover);
}

.figure-hover-animation {
  transform: var(--transform-hover-off);
  transition: var(--transition-hover-off);
}

.figure-hover-animation:hover {
  box-shadow: var(--bx-shadow-hover);
  transform: var(--transform-hover);
  transition: var(--transition-hover);
}

/* Typography */
/* Has been moved to critical.js */

/* Buttons */
.btn {
  display: table;
  padding: 0.6em 0.8em 0.5em;
  margin: 1em 0;
  border: 0;

  text-decoration: none;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;

  border-radius: var(--border-rd-all);
  box-shadow: var(--bx-shadow);
  transform: var(--transform-hover-off);
  transition: var(--transition-hover-off);
}

.btn:hover {
  box-shadow: var(--bx-shadow-hover);
  transform: var(--transform-hover);
  transition: var(--transition-hover);
}

.btn-primary {
  background-color: var(--clr-secondary);
  color: var(--clr-text-light);
}

.btn-secondary {
  background-color: var(--clr-primary);
  color: var(--clr-text-dark);
}

.btn-form {
  font-weight: 400;
  cursor: pointer;
  transition: background-color 300ms ease;
}

.btn-form:hover {
  background-color: var(--clr-accent);
  color: var(--clr-text-light);
  transition: background-color 300ms ease, color 350ms ease;
}

/* Forms */
form {
  padding: 1em;
}

label {
  display: none;
}

input,
textarea {
  width: 100%;
  padding: 0.2em 0.65em;
  margin: 0.6em 0;
  border: rgba(0, 0, 0, 0.5) solid 1px;
  border-radius: var(--border-rd-all);
  box-shadow: var(--bx-shadow);
}

input,
textarea {
  font-family: 'Be Vietnam Pro', Tahoma, Arial, sans-serif;
  font-size: 1rem;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  font-weight: normal;
}

::placeholder {
  opacity: 0.75;
  color: var(--clr-text-dark);
}

.form-group {
  display: flex;
  gap: 1em;
}

/*--------------
    Navigation 
  --------------*/
/* Has been moved to critical.js */

/*--------------
  Contact Button
  --------------*/
/* Has been moved to critical.js */

/*--------------
    Footer
  --------------*/
footer {
  position: relative;
  z-index: 100;
  margin-top: -1em;

  background-color: var(--clr-primary);
  border-radius: var(--border-rd-top);
}

.footer {
  display: grid;
  column-gap: 1rem;

  max-width: 1202px;
  padding: 3em 1em;
  margin-inline: auto;

  font-size: 0.9rem;
  font-size: clamp(0.9rem, 0.7rem + 0.3vw, 1.125rem);
}

.footer > * {
  padding: 1em 1em 1.5em;
  align-self: center;
}

.footer .title {
  font-size: 1.25rem;
  font-size: clamp(1.125rem, 1.17rem + 0.3vw, 1.5rem);
  padding-bottom: 0.5em;
}

.footer-logo-full {
  display: none;
}

.footer-logo,
.footer-logo-full {
  height: auto;
  max-width: 15rem;
  margin: 1rem auto;
  padding: 0;
  filter: var(--drop-shadow-logo);
  transform: var(--transform-hover-off);
  transition: var(--transition-hover-off);
}

.footer-logo:hover,
.footer-logo-full:hover {
  transform: var(--transform-hover);
  transition: var(--transition-hover);
}

.footer-contact-us {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1.5em 1em;
}

.footer-contact-us span,
.footer-site-map span,
.footer-social-media span {
  font-weight: 600;
  color: var(--clr-accent);
}

.footer-contact-us a {
  text-decoration: none;
  color: var(--clr-text-dark);
}

.footer-site-map {
  max-width: 15rem;
  height: 100%;
}

ul.site-map-links {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.site-map-links li a {
  display: block;
  text-decoration: none;
  color: var(--clr-text-dark);
  padding-bottom: 1em;
}

.site-map-links :last-child a {
  padding-bottom: 0;
}

.site-map-links a:hover,
.footer-contact-us a:hover {
  color: var(--clr-secondary);
  text-decoration: underline;
}

.footer-social-media .social-media {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}

.footer-social-media .social-media a {
  transform: var(--transform-hover-off);
  transition: var(--transition-hover-off);
}

.footer-social-media .social-media a:hover {
  transform: var(--transform-hover);
  transition: var(--transition-hover);
}

.social-media img {
  width: 2rem;
  height: auto;
  border-radius: 0.3rem;
}

.social-media .phone-svg img {
  width: 2.2rem;
  height: 2rem;
}

/* form.subscribe {
  padding-top: 0;
  display: inline-flex;
  max-width: 100%;
}

form.subscribe #subscribe-email {
  flex-grow: 3;
  padding-right: 6.75rem;
  width: clamp(13rem, 12rem + 30vw, 85vw);
  max-width: 18rem;
}

form.subscribe #subscribe-button {
  width: clamp(4rem, 4rem + 11vw, 6.25rem);
  padding: 0 0.75em;
  margin-left: -6.1rem;
  box-shadow: none;
} */

@media only screen and (min-width: 600px) {
  .footer {
    grid-template-columns: 3fr 2fr;
    padding-inline: clamp(1rem, 5vw, 5rem);
  }
  .footer-logo,
  .footer-contact-us {
    margin-left: 0;
    grid-column: 1 / 2;
  }
  .footer-site-map {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    justify-self: end;
  }
}

@media only screen and (min-width: 1050px) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-logo,
  .footer-logo-full {
    align-self: start;
  }
  .footer-contact-us {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    align-self: start;
    justify-self: center;
  }
  .footer-site-map {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    align-self: start;
  }
}

@media only screen and (min-width: 1400px) {
  /* .footer {
    grid-template-columns: 2fr 3fr 3fr;
  } */
}

/*--------------
    Home Page 
  --------------*/
.about-us,
.our-philosophy,
.apply {
  padding: clamp(1em, 0.5em + 7vw, 3em) clamp(1em, 0.5em + 7vw, 5em);
}

.about-us,
.our-philosophy {
  line-height: 1.5em;
}

.about-us .section-title {
  margin-top: 0;
}

.about-us .body-right {
  display: none;
}

.about-us img,
.about-us-page img {
  width: 100%;
  border-radius: var(--border-rd-all);
  box-shadow: var(--bx-shadow);
  max-width: 400px;
}

.our-philosophy {
  background-color: var(--clr-primary);
  border-radius: var(--border-rd-all);
  position: relative;
  z-index: 50;
}

.our-philosophy img,
.philosophy-page img {
  -webkit-filter: var(--drop-shadow);
  filter: var(--drop-shadow);
  margin: 0 auto;
  transform: var(--transform-hover-off);
  transition: var(--transition-hover-off);
}

.our-philosophy img:hover {
  transform: var(--transform-hover);
  transition: var(--transition-hover);
}

.testimonials {
  background-color: #808080;
  background-image: url(~/assets/images/lollipop-doodle.webp);
  background-blend-mode: multiply;
  background-size: 100%;
  position: relative;
  margin-top: -2rem;
  padding-bottom: 4rem;
  z-index: 10;
}

.testimonials .section-title {
  color: var(--clr-primary);
}

.testimonial-card {
  background-color: var(--clr-tertiary);
  padding: 0.5em;
}

.testimonial-img-wrapper {
  width: 14rem;
  height: 14rem;
  max-width: 100%;
  margin: 0.25em auto;
}

.testimonial-img {
  background-image: url(~/assets/images/parent1.webp);
  width: 100%;
  height: 100%;
  background-position: top;
  background-size: 14rem;
  border-radius: 50%;
}

.testimonial-card:nth-child(2) .testimonial-img {
  background-image: url(~/assets/images/linh.webp);
  background-size: 15rem;
}

.testimonial-card:nth-child(3) .testimonial-img {
  background-image: url(~/assets/images/koala.webp);
  background-size: cover;
}

.testimonial-name {
  margin: 0.5em 0;
  font-weight: 600;
}

.testimonial-role {
  color: var(--clr-secondary);
  margin: 0;
}

.testimonial-quote {
  margin: 1em 0.25em;
  line-height: 1.5em;
}

.newsletter-resources {
  position: relative;
  padding: 0;
  display: grid;
}

.newsletter-resources > * {
  position: relative;
  border-radius: var(--border-rd-all);
  box-shadow: var(--bx-shadow);
  margin-top: -2em;
  padding: 2em clamp(1em, 1em + 2vw, 3em);
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter-resources heading {
  margin: 1em;
  text-align: center;
}

.newsletter {
  background-color: var(--clr-primary);
}

.resources {
  background-color: var(--clr-tertiary);
}

.newsletter-card {
  background-color: var(--clr-tertiary);
  border-radius: var(--border-rd-all);
  box-shadow: var(--bx-shadow);
  max-width: min(100%, 25rem);
}

.newsletter-card-img-wrapper {
  width: 100%;
  height: 14rem;
  max-width: 100%;
}

.newsletter-card-img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-image: url(~/assets/images/news1.webp);
  background-color: var(--clr-secondary);
  background-size: 25rem;
  background-position: center;
  border-radius: var(--border-rd-all);
}

.card-date {
  background-color: var(--clr-secondary);
  width: 4rem;
  height: 3rem;
  border-radius: var(--border-rd-all);
  box-shadow: var(--bx-shadow);
  margin: -2em 2em 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-date .date {
  text-align: center;
  color: var(--clr-text-light);
  font-weight: bold;
}

.newsletter-card-title {
  font-size: clamp(1.5rem, 1.125rem + 1.6667vw, 2rem);
  padding: 1rem;
}

.newsletter-card-body {
  padding: 0 1em 2em;
}

.newsletter-card-body a {
  color: var(--clr-text-dark);
  font-weight: bold;
  margin-top: 2em;
  display: block;
}

.newsletter-card-body a {
  text-decoration: none;
}

.newsletter-card-body a:hover {
  color: var(--clr-secondary);
  text-decoration: underline;
}

.resources-cards {
  display: grid;
  gap: clamp(1rem, 1rem + 1vw, 2rem);
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 100%;
}

.resources-card {
  display: flex;
  flex-direction: column;

  width: 100%;

  background-color: var(--clr-secondary);
  border-radius: var(--border-rd-all);
  box-shadow: var(--bx-shadow);

  will-change: transform;
  transform: translateZ(0);

  transform: var(--transform-hover-off);
  transition: var(--transition-hover-off);
}

.resources-card:hover {
  box-shadow: var(--bx-shadow-hover);
  transform: var(--transform-hover);
  transition: var(--transition-hover);
}

.resources-card-link {
  text-align: center;
  text-decoration: none;
  color: var(--clr-text-light);
}

.resources-card-title {
  padding-inline: clamp(0.5em, 1vw, 1em);
}

.resources-icon {
  margin: 0 auto;
  max-width: min(100%, 10rem);
}

.tags {
  display: flex;
  gap: 1rem;
  justify-content: center;

  margin: auto 0.5rem 0.5rem;

  font-size: 0.75rem;
}

.tag {
  padding: 0.2em 0.5em;

  background-color: var(--clr-primary);
  color: var(--clr-text-dark);
  border-radius: var(--border-rd-all);
}

.apply {
  background-color: #808080;
  background-image: url(~/assets/images/kids-drawings.webp);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  margin-top: -1.5em;
  margin-bottom: 0;
  padding: 3em 1em;
}

.apply-card {
  background-color: var(--clr-secondary);
  border-radius: var(--border-rd-all);
  box-shadow: var(--bx-shadow);
  color: var(--clr-text-light);
  margin: 1em 0;
  display: block;
  max-width: 100%;
}

.apply-form {
  width: calc(15rem + 22.5vw);
  max-width: min(100%, 25rem);
}

.apply-img-wrapper {
  width: 100%;
  height: 13rem;
  max-width: 25rem;
}

.apply-img {
  width: 100%;
  height: 100%;
  background-image: url(~/assets/images/girl.webp);
  background-color: var(--clr-primary);
  background-size: cover;
  background-position: top;
  border-radius: var(--border-rd-all);
}

.apply .form-title {
  font-size: clamp(1.5rem, 1.125rem + 1.6667vw, 2rem);
  padding: 1rem 1rem 0;
}

@media only screen and (min-width: 800px) {
  .apply-card {
    display: flex;
  }

  .apply-form {
    width: calc(15rem + 15vw);
    max-width: 25rem;
  }

  .apply-img-wrapper {
    width: calc(10rem + 15vw);
    max-width: 25rem;
    height: auto;
  }

  .newsletter-resources {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .resources .resources-cards {
    margin: auto 0;
    max-width: 30rem;
  }
}

@media only screen and (min-width: 900px) {
  .about-us .section-body,
  .our-philosophy .section-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 'left left left right right';
    gap: 1em;
    justify-items: center;
    max-width: 65rem;
    margin-inline: auto;
  }

  .about-us .body-left,
  .our-philosophy .body-left {
    grid-area: left;
  }

  .about-us .body-right,
  .our-philosophy .body-right {
    display: block;
    grid-area: right;
    z-index: 100;
  }

  .our-philosophy header {
    max-width: 65rem;
    margin-inline: auto;
  }
}

@media only screen and (min-width: 1100px) {
  .about-us .body-right {
    margin-bottom: -8em;
  }

  .our-philosophy .section-title {
    text-align: left;
  }
}

/*--------------
  Newsletters Page 
  --------------*/

.newsletter-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 2rem 1rem 5rem;
}

.card-newsletter {
  display: grid;
  max-width: 45rem;
  width: 100%;

  background-color: var(--clr-secondary);
  border-radius: var(--border-rd-all);
  box-shadow: var(--bx-shadow);
  transform: var(--transform-hover-off);
  transition: var(--transition-hover-off);
}

.card-newsletter:hover {
  box-shadow: var(--bx-shadow-hover);
  transform: var(--transform-hover);
  transition: var(--transition-hover);
}

.card-newsletter a:focus {
  outline-color: var(--clr-accent);
  outline-offset: 5px;
}

.card-newsletter a {
  display: block;
  grid-template-columns: 2;
  grid-template-areas: 'hero body';
  border-radius: var(--border-rd-all);

  text-decoration: none;
  color: var(--clr-text-light);
}

.card-newsletter-hero {
  width: auto;
  height: 10rem;
  grid-area: hero;

  background-size: cover;
  background-position: center;
  border-radius: var(--border-rd-all);
}

.card-newsletter-body {
  grid-area: body;
  padding: 1rem;
  justify-self: stretch;
}

.card-newsletter-title h2 {
  font-size: clamp(1.25rem, 0.84rem + 0.8vw, 1.8rem);
  font-weight: 500;
  margin-bottom: 0.5em;
}

.card-newsletter-date p {
  text-align: right;
  font-weight: 300;
  margin: 2em 0 0;
}

@media only screen and (min-width: 550px) {
  .card-newsletter a {
    display: grid;
  }
  .card-newsletter-hero {
    width: clamp(12rem, 10rem + 5vw, 20rem);
    height: auto;
  }
}

/*--------------------------------
  Newsletter Page & Resource Page 
  -------------------------------*/

.newsletter-page,
.resource-page {
  display: flex;
  justify-content: center;

  width: 100%;
  max-width: 740px;

  text-rendering: optimizeLegibility;
}

.newsletter-article,
.resource-article {
  padding: 0 1em;
}

.newsletter-header-title,
.resource-header-title {
  font-size: 1.6rem;
  font-size: clamp(1.6rem, 1.35rem + 0.75vw, 2.25rem);
  margin-bottom: 0.5rem;
}

.newsletter-header-subtitle {
  font-size: 1.2rem;
  font-size: clamp(1.2rem, 1.02rem + 0.3999999999999999vw, 1.5rem);
  font-weight: 500;
  color: #636363;
  margin-bottom: 1rem;
}

.newsletter-hero-container {
  /* height: clamp(10rem, 10rem + 15vw, 20rem);
  overflow: hidden;
  position: relative; */
  margin-bottom: 3rem;
  width: 100%;
  height: auto;
}

img.newsletter-hero {
  /* position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  overflow: hidden; */
  width: 100%;
  height: 100%;
}

.newsletter-content,
.resource-content {
  max-width: 100%;
}

.newsletter-content iframe,
.resource-content iframe {
  max-width: 100%;
}

/*--------------
  Resources Page 
  --------------*/
.resources-page {
  padding-inline: clamp(0.5rem, 0.25rem + 4.5vw, 5rem);
}

.select-type {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.select-type .btn {
  font-size: 1rem;
}

.active-btn {
  background-color: var(--clr-primary);
  color: var(--clr-text-dark);
}

@media only screen and (min-width: 650px) {
  .resources-page .resources-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1080px) {
  .resources-page .resources-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/*--------------
  Form Success Page 
  --------------*/
.success-message {
  max-width: 40rem;
  margin: 0 auto;

  font-size: 1.3rem;
}

/*--------------
    Error Page
  --------------*/
.error-page {
  text-align: center;
}

.error-page header {
  margin-bottom: 1rem;
}

.error-page .img-wrapper {
  display: flex;
  justify-content: center;
}

/*------------------------------
    Philosopy & About Us Page
  ------------------------------*/

.philosophy-page,
.about-us-page {
  padding-inline: clamp(1rem, 0.3rem + 5vw, 5rem);
}

.philosophy-page .section-body,
.about-us-page .section-body {
  text-rendering: optimizeLegibility;
  line-height: 1.5rem;
}

.about-us-page img {
  margin-inline: auto;
  margin-block: clamp(2rem, 1rem + 2vh, 4rem);
}

.philosophy-page .section-body {
  display: flex;
  flex-direction: column;
  gap: clamp(2rem, 1rem + 2vh, 4rem);
  max-width: min(90vw, 1000px);
  margin-inline: auto;
}

.philosophy-page .section-body > div {
  display: flex;
  flex-direction: column;
  gap: clamp(2rem, 1rem + 2vh, 4rem);
}

.philosophy-page .section-body p {
  margin-bottom: 0;
}

.philosophy-page img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.philosophy-page .section-body .toys img,
.philosophy-page .section-body .individualism img,
.philosophy-page .section-body .nature img {
  max-width: min(100%, 350px);
}

img.small {
  width: 70%;
}
img.xsmall {
  width: 60%;
}

.about-us-page .body-left {
  max-width: 600px;
  margin-inline: auto;
}

.timeline {
  display: grid;
  grid-template-columns: 2.5fr 2fr 10fr;
  grid-template-areas:
    'd3 dl3 p3'
    'd2 dl2 p2'
    'd1 dl1 p1';

  margin-block: clamp(2rem, 1rem + 5vw, 10rem);
}

.dl1 {
  grid-area: dl1;
}
.dl2 {
  grid-area: dl2;
}
.dl3 {
  grid-area: dl3;
}
.p1 {
  grid-area: p1;
}
.p2 {
  grid-area: p2;
}
.p3 {
  grid-area: p3;
}
.d1 {
  grid-area: d1;
}
.d2 {
  grid-area: d2;
}
.d3 {
  grid-area: d3;
}

.timeline .dot {
  width: 14px;
  height: 14px;
  background: var(--clr-accent);
  border-radius: 7px;
}

.timeline .line {
  height: 50%;
  width: 2px;
  background: var(--clr-secondary);
  margin-left: 5.3px;
}

.timeline .l1 {
  display: none;
}

.timeline p {
  padding: 1rem;
  margin-block: 1rem;
  color: var(--clr-text-light);
  background-color: var(--clr-secondary);
  border-radius: var(--border-rd-all);
  box-shadow: var(--bx-shadow);
  transform: translateX(0%);
  transition: var(--transition-hover-off);
  transition-delay: 150ms;
}

.timeline .d {
  height: fit-content;
  align-self: center;
  text-align: center;
  padding: 0.5rem;
}

.timeline .dl1,
.timeline .dl2,
.timeline .dl3 {
  margin-inline: auto;
}

.timeline .d:hover + .p,
.timeline .p:hover {
  transform: translateX(-3%);
  transition: var(--transition-hover);
}

.timeline .d:hover {
  transform: translateX(5%);
  transition: var(--transition-hover);
}

@media only screen and (min-width: 750px) {
  .philosophy-page .section-body > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(1rem, 0.5rem + 4vh, 4rem);
  }

  .philosophy-page div.reverse img {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .philosophy-page div.reverse p {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .philosophy-page img {
    margin-top: 0;
  }

  .philosophy-page div.food {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 1000px) {
  .about-us-page .section-body {
    display: flex;
    justify-content: center;
    text-align: justify;
  }

  .about-us-page img {
    margin-left: 2rem;
    margin-block: 0;
  }

  .about-us-page .body-left {
    max-width: 600px;
    margin-inline: 0;
  }
}

@media only screen and (max-width: 530px) {
  .timeline {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .d3 {
    order: 1;
  }
  .dl3 {
    order: 2;
  }
  .p3 {
    order: 3;
  }
  .d2 {
    order: 4;
  }
  .dl2 {
    order: 5;
  }
  .p2 {
    order: 6;
  }
  .d1 {
    order: 7;
  }
  .dl1 {
    order: 8;
  }
  .p1 {
    order: 9;
  }

  .dl {
    display: none;
  }

  .timeline .d:hover + .p,
  .timeline .p:hover {
    transform: translateX(0%);
  }

  .timeline .d:hover {
    transform: translateX(0%);
  }

  .timeline .d br {
    content: ' ';
  }

  .timeline .d {
    background-color: var(--clr-primary);
    color: var(--clr-text-dark);
  }

  .timeline .dl {
    height: 2.5rem;
  }

  .timeline .l1 {
    display: block;
    position: absolute;
    left: 50%;
    right: 50%;
    height: 100%;
  }

  .timeline p {
    margin-block: 1rem;
  }
}
